body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5EEE6; /* Adjust background color as needed */
}

header {
    background-color: #FEBBCC; /* Dark header background */
    color: #000; /* White text for contrast */
    padding: 20px;
    border: 1px solid black; /* Adjust thickness and color as needed */
}

header h1 {
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

nav ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #000;
    text-decoration: none;
    border: 2px solid #fff; /* Fix border property */
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid black; /* Adjust thickness and color as needed */
    background-color: #FFCCCC;
    padding: 10px;
}

main h1 {
    text-align: center;
    color: #E6A4B4;
    font-family: cursive;
}

/* styling of createAccount-login pages */
div {
    padding-bottom: 10px;
}

div h1 {
    font-family: "Times New Roman"; /* Fix font-family property */
    font-size: 50px;
    text-align: center;
    color: #FFEECC;
    text-shadow: 2px 2px 2px #FEBBCC;
}

form {
    padding-bottom: 20px;
}

div input {
    display: block;
    margin: auto; /* adjust textBoxes to the center*/
}

/* adjust the labels to the center */
label {
    text-align: center; /* Adjusted to center */
    font-family: "Times New Roman";
    color: #000;
}

/* id */
#contact-info {
    font-size: 100%;
    word-spacing: 10px;
}

#payment-info {
    font-size: 50px;
}

/* ids' of createAccount-login pages */
#mySubmit,
#myLogin {
    background-color: #FEBBCC;
    color: #FFFF;
    font-family: "Times New Roman";
    border-color: #FEBBCC;
    border-radius: 10px;
    padding-right: 75px; /* for wider button */
    padding-left: 60px; /* adjust text to center */
}

/* classes */
.login-form {
    background-color: #000;
}

..footer-section-1{
     font-size: 15px;
    font-weight: 100;
    color:#ff;
    text-align: left;
    padding-left: 50px;
   
}


.footer-section-2{
    font-size: 15px;
    font-weight: 100;
    color:#ff;
    text-align: left;
    padding-top: 10%;
    padding-bottom:10% ;

  }

.footer-section-3{
     font-size:120%;
    font-weight: 100;
    color:#ff;
    text-align: left;
    padding-left: 1%;
    }

/* images */
#home-pic {
    background-image: url("image/choco2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

/* Footer styling */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Create three equal columns */
    grid-gap: 50px; /* Add spacing between columns */
    background-color: #FEBBCC;
    border: 1px solid black;

}
footer h5{
    font-size: 100%;
    padding-right: 60px;
}

/* Categories page style */
.category li {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-family: cursive;
}

.category li a:link {
    color: #E6A4B4;
    text-decoration: none;
}

.category li p {
    color: #000; /* Fix the equality sign */
}

.category img {
    width: 230px;
    height: 230px;
    opacity: 0.9;
    border: 4px solid #E6A4B4;
}

.category img:hover {
    width: 260px;
    height: 260px;
    opacity: 0.9;
    border: 4px solid #FEBBCC;
    transform: scale(1.2, 1.2); /* Adjusted scale value */
}
.MilkCHOCOLATE img{
    opacity: 0.9;
    border: 4px solid #E6A4B4;
}
.MilkCHOCOLATE img:hover {
    opacity: 0.9;
    border: 4px solid #FEBBCC;
    transform: scale(1.2, 1.2); /* Adjusted scale value */
}

.CHOCOLATE-NUTS img {
    opacity: 0.9;
    border: 4px solid #E6A4B4;
}

.CHOCOLATE-NUTS img:hover {
    opacity: 0.9;
    border: 4px solid #FEBBCC;
    transform: scale(1.2, 1.2); /* Adjusted scale value */
}
.CHOCOLATE-NUTS li {
    display: inline-block;
    text-align:center;
    margin-left:30px;
    margin-right:20px;
    margin-bottom:50px;
    font-family: cursive;
   
}
.DarkCHOCOLATE img {
    opacity: 0.9;
    border: 4px solid #E6A4B4;
}

.DarkCHOCOLATE img:hover {
    opacity: 0.9;
    border: 4px solid #FEBBCC;
    transform: scale(1.2, 1.2); /* Adjusted scale value */
}
.DarkCHOCOLATE li {
    display: inline-block;
    text-align:center;
    margin-left:40px;
    margin-right:20px;
    margin-bottom:50px;
    font-family: cursive;
   
}
